

:root {
  --offWhite: #efe9dd; /* Adjusted off-white color */
  --darkGray: #363636; /* Complementary dark gray color */
}


.custom-h-screen {
  height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  @media screen and (max-height: 700px) {
    /* Adjust the max-height value as needed to suit your design */
    .custom-h-screen {
      height: calc(100vh - constant(safe-area-inset-bottom));
      height: calc(100vh - env(safe-area-inset-bottom));
    }
  }
}

